/* INICIO CUADRO DE CARGA */

body, html {
    height: 100%;
    width:100%;
    text-align: center;
    background:#dcdcdc;
    margin:0;
    padding:0;
    position:relative;
}
h1 {
    color:#4a4a4a;
    text-align:center;
}
img {
    margin: 0 auto;
    display:block;
}
/*PRELOADING------------ */

/* FONDO */
#overlayer {
    width:100%;
    height:100%;  
    position:fixed;
    z-index:9999;
    background:#4a4a4a;
}
/* FONDO */

/* CUADRADO */
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index:10000;
    border: 4px solid #171515;
    top: 50%;
    animation: loader 2s infinite ease;
    left: 50%;
    margin-left: -19px;   
    margin-top: -19px;
}
/* CUADRADO */

/* RELLENO */
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #3b3434;
    animation: loader-inner 2s infinite ease-in;
}
/* RELLENO */

/* ANIMACION */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(180deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    75% {
        transform: rotate(360deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-inner {
    0% {
        height: 0%;
    }
    
    25% {
        height: 0%;
    }
    
    50% {
        height: 100%;
    }
    
    75% {
        height: 100%;
    }
    
    100% {
        height: 0%;
    }
}
/* FIN CUADRO DE CARGA */


